body {
	background-color: beige;
	font-size:1rem;
}

.lights-off p {
	color: white;
}

.lights-off {
	background-color: black;
}

#playpen {
	text-align:center;
}

#wrapper {
	margin: 0 auto;
	max-width:50rem;
}

img {
	max-width: 100%;
}

#game-over-message {
	display: none;
}